{% extends 'blog/layout.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="offset-lg-4 col-lg-4">
            <form method="POST" action="{% url 'login' %}" class="post-form">
                {{ form|crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary float-right">Login</button>
                <input type="hidden" name="next" value="{% url 'post_list' %}"/>
            </form>
        </div>
    </div>
{% endblock %}